.main-nav {
    padding-left: 40px;
    min-height: 70px;
    background-image: linear-gradient(to right, #24303f, #18788f); 
}

.nav-log-text, .nav-log-text:hover {
    color: white;
}

.nav-log-text {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    align-items: center;
}

.nav-log-text svg {
    width: 50%;
    height: 40px;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius:60px;
}   

.main-menu {
    display: flex;
    font-size: 18px;
    width: 380px;
    justify-content: space-between;
}

.main-menu a {
    color: rgba(255, 255, 255, 0.5);
}

.main-menu a:hover {
    color: #23b09b;
}

.main-menu a.active {
    color: white;
    font-weight: bold;
}

.nav-login-logout {
    display: none;
}

.nav-username {
    display: none;
}

@media (min-width: 768px) {
    .nav-login-logout {
        display: unset;
        color: #fff;
        margin-right: 15px;
    }

    .login-navbar-img svg {
        display: none;
    }

    .logout-navbar-img svg {
        display: none;
    }
}

@media (min-width: 992px) {
    .nav-login-logout {
        margin-right: 40px;
    }

    .login-logout-navbar {
        display: flex;
        align-items: center;
    }

    .login-logout-navbar svg {
        display: unset;
        flex-direction: row;
        align-items: center;
        width: 35px;
        height: 35px;
        color: #fff;
        margin-left: 5px;
    }

    .nav-username {
        display: unset;
        margin-right: 20px;
    }
}